body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 32px;
}

div {}

.play-button {
    background-color: var(--color-valid);
}