@import '../../global.scss';

.play-button {
    background-color: $color-valid;
}

#root {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

.content {
    @include flex-center;
}

footer {
    @include flex-center($align-items: top);
    height: 8rem;
}