@import '../../global.scss';

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: $spacing-lg;
    
    h1 {
        color: $color-text;
    }
}

.slots-container {
    display: flex;
    gap: $spacing-lg;
    justify-content: center;
    align-items: center;
}

.play-button {
    background-color: $color-valid;
}