@import '../../global.scss';

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: $spacing-md;
}

.play-button {
    background-color: $color-valid;
}