@import '../../global.scss';

.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    padding: 1.25rem 2.5rem; 
    color: $color-text;
    position: relative;
    width: 100%;
    border-radius: 0 0 $border-radius $border-radius;
}

.nav-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;

    h1 {
        font-size: $font-size-sub-heading;
        font-weight: bold;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding: 0;
    margin: 0;

    li a {
        color: $color-text;
        text-decoration: none;
        font-weight: bold;
        font-size: $font-size-small;
        opacity: 0.8;
        transition: opacity $transition-fast;

        &:hover {
            opacity: 1;
        }
    }
}

.settings-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity $transition-fast;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem; 
        fill: $color-text;
    }
}
