@import '../../global.scss';

.top-nav-bar {
    @include flex-center($justify-content: space-between);
    background-color: $color-primary;
    padding: 1.25rem 2.5rem; 
    color: $color-text;
    width: 100%;
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
}

.nav-content {
    flex-grow: 1;
    @include flex-center(column);
    gap: 0.625rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.25rem;

    li a {
        color: $color-text;
        text-decoration: none;
        font-size: $font-size-small;
        opacity: 0.8;
        transition: opacity $transition-fast;

        &:hover {
            opacity: 1;
        }
    }
}

.settings-icon {
    @include flex-center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity $transition-fast;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem; 
        fill: $color-text;
    }
}
