@import '../../global.scss';

.bottom-nav-bar {
    display: flex;
    align-items: center;
    background-color: $color-primary;
    padding: 1rem 4rem;
    color: $color-text;
    border-radius: $border-radius-max;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: $font-size-normal;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity $transition-fast;
    word-break: break-all;

    &:hover {
        opacity: 1;
    }
}
