:root {
    /* Colors */
    --color-primary: light-dark(rgb(34, 45, 61), rgb(254, 254, 254));
    --color-secondary: rgb(55, 68, 95);
    --color-text: rgb(254, 254, 254);
    --color-text-dark: rgb(25, 25, 25);
    --color-unavailable: rgb(144, 144, 144);
    --color-unavailable2: rgb(144, 144, 144, 128);
    --color-valid: rgb(87, 165, 80);
    --color-invalid: rgb(255, 71, 74);
    --color-none: rgb(0, 0, 0, 0);

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-size-heading: 64px;
    --font-size-sub-heading: 32px;
    --font-size-normal: 20px;
    --font-size-small: 16px;

    /* Border Radius */
    --border-radius: 64px;
    --border-radius-max: 999px;
}

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-text);
    font-size: var(--font-size-normal);
    font-family: var(--font-family);
    font-weight: bold;
    line-height: 1.5;
    scroll-behavior: smooth;
    min-height: 100vh;
}

button {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    font-weight: bold;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    padding: 16px 32px;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

h1 {
    font-size: var(--font-size-heading);
    margin: 0;
    padding: 0;
}